<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - Desklamp Studios</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta name="description" content="We're supposed to make study guides, or something?"/>
	<meta name="author" content="Kevin Geng and Richard Chung"/>
	<link href="https://plus.google.com/113383006901215901732" rel="publisher"/>
	<script src="/desklampstudios/modernizr-custom.js"></script>
	<script src="https://apis.google.com/js/plusone.js"></script>
	<script src="/desklampstudios/main.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
	<link rel="stylesheet" href="/desklampstudios/main.css"/>
</head>
<body>
	<div id="container">
		<header>
			<img src="/desklampstudios/logo.jpg" id="logo"/>
			<h1>Desklamp Studios</h1>
			<h3>Richard Chung and Kevin Geng</h3>
			<ul id="nav">
				<li><a href="/desklampstudios/">Home</a></li>
				<li><a href="/desklampstudios/studyguides/">Study Guides</a></li>
			</ul>
		</header>
		<article>
			<h1>{{ page.title }}</h1>
			{{ content }}
		</article>
	</div>
</body>
</html>
